/* line 1, ../sass/_reset.scss */
html, body, blockquote, ul, ol, form, button {
  margin: 0;
  padding: 0;
}

/* line 2, ../sass/_reset.scss */
button {
  border: 0;
}

/* line 3, ../sass/_reset.scss */
p, ul, ol, dl, blockquote, pre, td, th, label, textarea {
  font-size: 1em;
  line-height: 1.7;
  margin: 1.7em 0;
}

/* line 4, ../sass/app.scss */
::selection {
  background: #4570B2;
  color: #F5F9FF;
  opacity: 1;
}

/* line 9, ../sass/app.scss */
::-moz-selection {
  background: #4570B2;
  color: #F5F9FF;
  opacity: 1;
}

/* line 15, ../sass/app.scss */
* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

/* line 20, ../sass/app.scss */
body {
  font-family: "letter-gothic-std", monospace;
  font-weight: 700;
  padding: 0 2%;
  background: #F5FCFF;
  color: #2B1600;
}
@media (min-width: 670px) {
  /* line 20, ../sass/app.scss */
  body {
    font-size: 105%;
    padding: 0 10%;
  }
}
@media (min-width: 850px) {
  /* line 20, ../sass/app.scss */
  body {
    padding: 0 12%;
  }
}
@media (min-width: 906px) {
  /* line 20, ../sass/app.scss */
  body {
    font-size: 110%;
    line-height: 2;
    padding: 0 15%;
  }
}
@media (min-width: 980px) {
  /* line 20, ../sass/app.scss */
  body {
    padding: 0 20%;
  }
}
@media (min-width: 1140px) {
  /* line 20, ../sass/app.scss */
  body {
    padding: 0 21%;
  }
}
@media (min-width: 1370px) {
  /* line 20, ../sass/app.scss */
  body {
    padding: 0 25%;
  }
}
@media (min-width: 1656px) {
  /* line 20, ../sass/app.scss */
  body {
    padding: 0 27.5%;
  }
}

/* line 55, ../sass/app.scss */
.container {
  width: 90%;
  min-width: 288px;
  max-width: 960px;
  margin: 10% auto;
}

/* line 62, ../sass/app.scss */
a {
  color: #4570B2;
  border-bottom: 1px solid #4570B2;
  text-decoration: none;
}
/* line 66, ../sass/app.scss */
a:hover {
  color: #B2AA9A;
  border-bottom: 1px solid #B2AA9A;
}

/* line 72, ../sass/app.scss */
.alignleft {
  display: block;
  margin: 0 0 1em 0;
}
@media (min-width: 850px) {
  /* line 72, ../sass/app.scss */
  .alignleft {
    display: inline-block;
    float: left;
    margin: 1em 1em 1em 0;
  }
}

/* line 82, ../sass/app.scss */
.wp-caption-text {
  margin: 0;
  font-size: 0.6em;
}

/* line 87, ../sass/app.scss */
header[role=banner] {
  margin: 16.6666%;
  text-align: center;
}
/* line 90, ../sass/app.scss */
header[role=banner] h1 a {
  color: #2B1600;
  border-bottom: 0;
}
/* line 91, ../sass/app.scss */
header[role=banner] h1 a:hover {
  color: #B2AA9A;
  border-bottom: 1px solid #B2AA9A;
}

/* line 94, ../sass/app.scss */
article {
  margin: 0 auto 33.3333%;
}
/* line 96, ../sass/app.scss */
article header {
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #DFDFDF;
}

/* line 103, ../sass/app.scss */
#disqus_thread {
  margin-top: 16.666666%;
}

/* line 107, ../sass/app.scss */
h2 {
  line-height: 1.6;
}
/* line 109, ../sass/app.scss */
h2 a {
  color: #2B1600;
  border-bottom: 0;
}

/* line 112, ../sass/app.scss */
blockquote {
  opacity: 0.8;
  font-size: 0.9em;
  padding: 0 10%;
  font-style: italic;
}

/* line 119, ../sass/app.scss */
.meta {
  font-size: 75%;
  margin-top: 0;
  opacity: 0.75;
}

/* line 125, ../sass/app.scss */
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 75%;
  margin-bottom: 10em;
}
@media (min-width: 850px) {
  /* line 125, ../sass/app.scss */
  footer {
    flex-direction: row;
  }
}
/* line 135, ../sass/app.scss */
footer .widget {
  width: 100%;
  border-top: 1px solid #DFDFDF;
  margin-bottom: 2em;
}
@media (min-width: 850px) {
  /* line 135, ../sass/app.scss */
  footer .widget {
    width: 48%;
  }
}

/* line 145, ../sass/app.scss */
ul {
  padding-left: 2em;
}

/* line 150, ../sass/app.scss */
.searchform .screen-reader-text {
  display: block;
  margin: 0;
  line-height: 0;
  position: relative;
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
}
/* line 160, ../sass/app.scss */
.searchform input[type=text] {
  font-family: "letter-gothic-std", monospace;
  background: #F5F9FF;
  border: 1px solid #DFDFDF;
  padding: 0.25em;
  font-size: 16px;
}
/* line 166, ../sass/app.scss */
.searchform input[type=text]:focus {
  background: #FFFFFF;
}
/* line 168, ../sass/app.scss */
.searchform input[type=submit] {
  -webkit-appearance: none;
  font-family: "letter-gothic-std", monospace;
  outline: 0;
  font-size: 16px;
  padding: 0.25em;
  background: #FFFFFF;
  border: 1px solid #DFDFDF;
  cursor: pointer;
}
/* line 177, ../sass/app.scss */
.searchform input[type=submit]:hover {
  background: #DFDFDF;
}
