@import "config";
@import "reset";

::selection {
    background: #4570B2;
    color: #F5F9FF;
}
::-moz-selection {
    background: #4570B2;
    color: #F5F9FF;
}

body {
    text-rendering: optimizeLegibility;
    font-family: "letter-gothic-std", monospace;
    font-weight: 700;
    padding: 0 2%;
    background: #F5FCFF;
    color: #2B1600;
    @media (min-width: 670px){
        font-size: 105%;
        padding: 0 10%;
    }
    @media (min-width: 850px){
        // font-size: 105%;
        padding: 0 12%;
    }
    @media (min-width: 906px){
        font-size: 110%;
        line-height: 2;
        padding: 0 15%;
    }
    @media (min-width: 980px){
        // font-size: 110%;
        padding: 0 20%;
    }
    @media (min-width: 1140px){
        // font-size: 125%;
        padding: 0 21%;
    }
    @media (min-width: 1370px){
        padding: 0 25%;
    }
    @media (min-width: 1656px){
        padding: 0 27.5%;
    }
}

.container {
    width: 90%;
    min-width: 288px;
    max-width: 960px;
    margin: 10% auto;
}

a {
    color: #4570B2;
    border-bottom: 1px solid #4570B2;
    text-decoration: none;
    &:hover {
        color: #B2AA9A;
        border-bottom: 1px solid #B2AA9A;
    }
}

.alignleft {
    float: left;
    margin: 0.25em 1em 1em 0;
}

.wp-caption-text {
    margin: 0;
    font-size: 0.6em;
}

article {
    margin: 33.3333% auto;
    &:first {
        margin: 0 auto 33.3333%
    }
}

h2 {
    line-height: 1.6;
    a { color: #2B1600; border-bottom: 0; }
}

.meta {
    font-size: 75%;
    opacity: 0.75;
}