@import "config";
@import "reset";

::selection {
    background: #4570B2;
    color: #F5F9FF;
    opacity: 1;
}
::-moz-selection {
    background: #4570B2;
    color: #F5F9FF;
    opacity: 1;
}

* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

body {
    font-family: "letter-gothic-std", monospace;
    font-weight: 700;
    padding: 0 2%;
    background: #F5FCFF;
    color: #2B1600;
    @media (min-width: 670px){
        font-size: 105%;
        padding: 0 10%;
    }
    @media (min-width: 850px){
        // font-size: 105%;
        padding: 0 12%;
    }
    @media (min-width: 906px){
        font-size: 110%;
        line-height: 2;
        padding: 0 15%;
    }
    @media (min-width: 980px){
        // font-size: 110%;
        padding: 0 20%;
    }
    @media (min-width: 1140px){
        // font-size: 125%;
        padding: 0 21%;
    }
    @media (min-width: 1370px){
        padding: 0 25%;
    }
    @media (min-width: 1656px){
        padding: 0 27.5%;
    }
}

.container {
    width: 90%;
    min-width: 288px;
    max-width: 960px;
    margin: 10% auto;
}

a {
    color: #4570B2;
    border-bottom: 1px solid #4570B2;
    text-decoration: none;
    &:hover {
        color: #B2AA9A;
        border-bottom: 1px solid #B2AA9A;
    }
}

.alignleft {
    display: block;
    margin: 0 0 1em 0;
    @media (min-width: 850px){
        display: inline-block;
        float: left;
        margin: 1em 1em 1em 0;
    }
}

.wp-caption-text {
    margin: 0;
    font-size: 0.6em;
}

header[role=banner] {
    margin: 16.6666%;
    text-align: center;
    h1 a { color: #2B1600; border-bottom: 0; }
    h1 a:hover { color: #B2AA9A; border-bottom: 1px solid #B2AA9A; }
}

article {
    margin: 0 auto 33.3333%;
    header {
        border-width: 1px 0 1px 0;
        border-style: solid;
        border-color: #DFDFDF;
    }
}

#disqus_thread {
    margin-top: 16.666666%;
}

h2 {
    line-height: 1.6;
    a { color: #2B1600; border-bottom: 0; }
}

blockquote {
    opacity: 0.8;
    font-size: 0.9em;
    padding: 0 10%;
    font-style: italic;
}

.meta {
    font-size: 75%;
    margin-top: 0;
    opacity: 0.75;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 75%;
    margin-bottom: 10em;
    @media (min-width: 850px){
        flex-direction: row;
    }
    .widget {
        width: 100%;
        border-top: 1px solid #DFDFDF;
        margin-bottom: 2em;
        @media (min-width: 850px) {
            width: 48%;
        }
    }
}

ul {
    padding-left: 2em;
}

.searchform {
    .screen-reader-text {
        display: block;
        margin: 0;
        line-height: 0;
        position: relative;
        height: 0;
        width: 0;
        overflow: hidden;
        visibility: hidden;
    }
    input[type=text]{
        font-family: "letter-gothic-std", monospace;
        background: #F5F9FF;
        border: 1px solid #DFDFDF;
        padding: 0.25em;
        font-size: 16px;
        &:focus { background: #FFFFFF; }
    }
    input[type=submit]{
        -webkit-appearance: none;
        font-family: "letter-gothic-std", monospace;
        outline: 0;
        font-size: 16px;
        padding: 0.25em;
        background: #FFFFFF;
        border: 1px solid #DFDFDF;
        cursor: pointer;
        &:hover {
            background: #DFDFDF;
        }
    }
}
